@import "../variables";

.container{padding-top: 50px;}

.menuContent{
    background-color: $card-background-color;
    border-radius: 30px;
    border:2px solid $card-border-color;
      
    padding-bottom: 50px;
    height:80vh;

    .buttonList{
        width:600px;
        margin: 0 auto;
        margin-top:50px;

        a{
            margin:10px 0;
        }
    }
}